# Examining the Homeless Population of the United States 
By Andrew Watkins

## Data Wrangling

I will be using multiple datasets to conduct this study. The datasets I will be using come from HUD and were collected between 2007 and 2017. There are two major datasets: Point-in-Time estimates of the homeless population (PIT) and the accompanying Housing Inventory Count (HIC). The raw data in these datasets are divided by either CoC or by state, thus we wil examine each one to understand them in better detail before choosing one.

https://www.hudexchange.info/resource/3031/pit-and-hic-data-since-2007/

In [1]:
import pandas as pd
import numpy as np

In [2]:
#Name the files to use
file_hic_state = 'data/2007-2017-HIC-Counts-by-State.xlsx'
file_pit_state = 'data/2007-2017-PIT-Counts-by-State.xlsx'

# Load spreadsheet
hic_state = pd.ExcelFile(file_hic_state)
pit_state = pd.ExcelFile(file_pit_state)

# Print sheet names
print(hic_state.sheet_names)
print(pit_state.sheet_names)

['2017', '2016', '2015', '2014', '2013', '2012', '2011', '2010', '2009', '2008', '2007', 'Revisions']
['Change', '2017', '2016', '2015', '2014', '2013', '2012', '2011', '2010', '2009', '2008', '2007', 'Revisions']

In [3]:
#Load the first sheet of to HIC-Counts-by-State inspect it
first_sheet = hic_state.parse('2017')
first_sheet.head()

,"Total Beds (ES, TH, SH)",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Other Permanent Housing (OPH),Unnamed: 67,Unnamed: 68,Unnamed: 69,Unnamed: 70,Unnamed: 71,Unnamed: 72,Unnamed: 73,Unnamed: 74,Unnamed: 75
State,"Total Year-Round Beds (ES, TH, SH)","Total Non-DV Year-Round Beds (ES, TH, SH)","Total HMIS Year-Round Beds (ES, TH, SH)",HMIS Participation Rate for Year-Round Beds (E...,Total Year-Round Beds (ES),Total Year-Round Beds (TH),Total Year-Round Beds (SH),"Total Units for Households with Children (ES, ...","Total Beds for Households with Children (ES, T...",Total Beds for Households without Children (ES...,...,Total Year-Round Beds (OPH),Total Non-DV Year-Round Beds (OPH),Total HMIS Year-Round Beds (OPH),HMIS Participation Rate for Year-Round Beds (OPH),Total Units for Households with Children (OPH),Total Beds for Households with Children (OPH),Total Beds for Households without Children (OPH),Total Beds for Households with only Children (...,Dedicated Veteran Beds (OPH),Dedicated Youth Beds (OPH)
AK,1828,1484,1307,0.715,1130,698,0,177,622,1171,...,101,101,101,1,0,0,101,0,0,0
AL,3444,2915,1601,0.4649,2073,1334,37,380,1216,2176,...,113,113,93,0.823,4,12,101,0,0,0
AR,2062,1516,743,0.3603,1513,549,0,232,837,1169,...,38,38,23,0.6053,6,19,19,0,0,0
AZ,5880,4896,4590,0.7806,3866,1978,36,721,2600,3219,...,1076,1076,1076,1,198,873,203,0,25,32

In [4]:
#Check the tables and info on the columns
first_sheet.info()

<class 'pandas.core.frame.DataFrame'>
Index: 57 entries, State to Total
Data columns (total 76 columns):
Total Beds (ES, TH, SH)               57 non-null object
Unnamed: 1                            57 non-null object
Unnamed: 2                            57 non-null object
Unnamed: 3                            57 non-null object
Unnamed: 4                            57 non-null object
Unnamed: 5                            57 non-null object
Unnamed: 6                            57 non-null object
Unnamed: 7                            57 non-null object
Unnamed: 8                            57 non-null object
Unnamed: 9                            57 non-null object
Unnamed: 10                           57 non-null object
Unnamed: 11                           57 non-null object
Unnamed: 12                           57 non-null object
Emergency Shelter (ES)                57 non-null object
Unnamed: 14                           57 non-null object
Unnamed: 15                           57 non-null object
Unnamed: 16                           57 non-null object
Unnamed: 17                           57 non-null object
Unnamed: 18                           57 non-null object
Unnamed: 19                           57 non-null object
Unnamed: 20                           57 non-null object
Unnamed: 21                           57 non-null object
Unnamed: 22                           57 non-null object
Unnamed: 23                           57 non-null object
Unnamed: 24                           57 non-null object
Transitional Housing (TH)             57 non-null object
Unnamed: 26                           57 non-null object
Unnamed: 27                           57 non-null object
Unnamed: 28                           57 non-null object
Unnamed: 29                           57 non-null object
Unnamed: 30                           57 non-null object
Unnamed: 31                           57 non-null object
Unnamed: 32                           57 non-null object
Unnamed: 33                           57 non-null object
Unnamed: 34                           57 non-null object
Safe Haven (SH)                       57 non-null object
Unnamed: 36                           57 non-null object
Unnamed: 37                           57 non-null object
Unnamed: 38                           57 non-null object
Unnamed: 39                           57 non-null object
Unnamed: 40                           57 non-null object
Unnamed: 41                           57 non-null object
Unnamed: 42                           57 non-null object
Unnamed: 43                           57 non-null object
Unnamed: 44                           57 non-null object
Rapid Re-Housing (RRH)                57 non-null object
Unnamed: 46                           57 non-null object
Unnamed: 47                           57 non-null object
Unnamed: 48                           57 non-null object
Unnamed: 49                           57 non-null object
Unnamed: 50                           57 non-null object
Unnamed: 51                           57 non-null object
Unnamed: 52                           57 non-null object
Unnamed: 53                           57 non-null object
Unnamed: 54                           57 non-null object
Permanent Supportive Housing (PSH)    57 non-null object
Unnamed: 56                           57 non-null object
Unnamed: 57                           57 non-null object
Unnamed: 58                           57 non-null object
Unnamed: 59                           57 non-null object
Unnamed: 60                           57 non-null object
Unnamed: 61                           57 non-null object
Unnamed: 62                           57 non-null object
Unnamed: 63                           57 non-null object
Unnamed: 64                           57 non-null object
Unnamed: 65                           57 non-null object
Other Permanent Housing (OPH)         57 non-null object
Unnamed: 67                           57 non-null object
Unnamed: 68                           57 non-null object
Unnamed: 69                           57 non-null object
Unnamed: 70                           57 non-null object
Unnamed: 71                           57 non-null object
Unnamed: 72                           57 non-null object
Unnamed: 73                           57 non-null object
Unnamed: 74                           57 non-null object
Unnamed: 75                           57 non-null object
dtypes: object(76)
memory usage: 34.3+ KB

In [5]:
#Load the last sheet to inspect it
last_sheet = hic_state.parse('2007')
last_sheet.head()

,"Total Beds (ES,TH)",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Emergency Shelter (ES),...,Unnamed: 25,Permanent Supportive Housing (PSH),Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34
State,"Total Year-Round Beds (ES,TH)","Total Non-DV Year-Round Beds (ES,TH)","Total HMIS Year-Round Beds (ES,TH)","HMIS Participation Rate (ES,TH)",Total Emergency Shelter (ES) Beds (excluding s...,Total Transitional Housing (TH) Beds,"Total Units for Households with Children (ES,TH)","Total Beds for Households with Children (ES,TH)",Total Beds for Households without Children (ES...,Total Year-Round ES Beds,...,Total TH Beds for Households without Children,Total PSH Beds,Total Year-Round PSH Beds,Total Non-DV Year-Round PSH Beds,Total HMIS Year-Round PSH Beds,PSH HMIS Participation Rate,Total Chronic Homeless PSH Beds,Total PSH Units for Households with Children,Total PSH Beds for Households with Children,Total PSH Beds for Households without Children
AK,1758,1310,503,0.384,1095,663,208,672,1086,1095,...,429,489,489,489,249,0.509,149,33,73,416
AL,4373,3647,1990,0.546,1766,2607,430,1330,3043,1766,...,1730,2420,2420,2396,1608,0.671,513,347,953,1467
AR,2592,1814,1601,0.883,1483,1109,304,951,1641,1483,...,690,1538,1538,1511,729,0.482,95,247,713,825
AZ,9333,7765,6363,0.819,3736,5597,1410,4665,4668,3736,...,2619,3019,3019,2947,2868,0.973,865,367,1066,1953

In [6]:
last_sheet.info()

<class 'pandas.core.frame.DataFrame'>
Index: 56 entries, State to Total
Data columns (total 35 columns):
Total Beds (ES,TH)                    56 non-null object
Unnamed: 1                            56 non-null object
Unnamed: 2                            56 non-null object
Unnamed: 3                            55 non-null object
Unnamed: 4                            56 non-null object
Unnamed: 5                            56 non-null object
Unnamed: 6                            56 non-null object
Unnamed: 7                            56 non-null object
Unnamed: 8                            56 non-null object
Emergency Shelter (ES)                56 non-null object
Unnamed: 10                           56 non-null object
Unnamed: 11                           56 non-null object
Unnamed: 12                           55 non-null object
Unnamed: 13                           56 non-null object
Unnamed: 14                           56 non-null object
Unnamed: 15                           56 non-null object
Unnamed: 16                           56 non-null object
Unnamed: 17                           56 non-null object
Transitional Housing (TH)             56 non-null object
Unnamed: 19                           56 non-null object
Unnamed: 20                           56 non-null object
Unnamed: 21                           56 non-null object
Unnamed: 22                           55 non-null object
Unnamed: 23                           56 non-null object
Unnamed: 24                           56 non-null object
Unnamed: 25                           56 non-null object
Permanent Supportive Housing (PSH)    56 non-null object
Unnamed: 27                           56 non-null object
Unnamed: 28                           56 non-null object
Unnamed: 29                           56 non-null object
Unnamed: 30                           55 non-null object
Unnamed: 31                           56 non-null object
Unnamed: 32                           56 non-null object
Unnamed: 33                           56 non-null object
Unnamed: 34                           56 non-null object
dtypes: object(35)
memory usage: 15.8+ KB

We can see that there is a difference in the amount of coumnes each sheet has. This is probably due to HUD start counting thing at later years or with different names. We will have to make sure to perserve the extra columns for now to examine.

In [7]:
#grab the 2007 sheet to initialize the DF before merging the rest
df_hic = hic_state.parse('2007', header=1)
df_hic['year'] = str(2007)
df_hic.set_index(['year','State'], inplace=True)

In [8]:
#concat the rest of the sheets to the original df
for sheet in range(2008, 2018): 
    excel_sheet = hic_state.parse(str(sheet), header=1)
    excel_sheet['year'] = str(sheet)
    excel_sheet.set_index(['year','State'], inplace=True)
    df_hic = pd.concat([df_hic, excel_sheet], axis=0, ignore_index=False, sort=True)

After merging all the sheets we have to examine the DataFrame

In [9]:
#check the info on the df
df_hic.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 606 entries, (2007, AK) to (2017, Total)
Data columns (total 165 columns):
Dedicated Chronically Homeless Beds (PSH)                          56 non-null float64
Dedicated Veteran Beds (ES)                                        56 non-null float64
Dedicated Veteran Beds (ES, TH, SH)                                56 non-null float64
Dedicated Veteran Beds (OPH)                                       56 non-null float64
Dedicated Veteran Beds (PSH)                                       56 non-null float64
Dedicated Veteran Beds (RRH)                                       56 non-null float64
Dedicated Veteran Beds (SH)                                        56 non-null float64
Dedicated Veteran Beds (TH)                                        56 non-null float64
Dedicated Youth Beds (ES)                                          56 non-null float64
Dedicated Youth Beds (ES, TH, SH)                                  56 non-null float64
Dedicated Youth Beds (OPH)                                         56 non-null float64
Dedicated Youth Beds (PSH)                                         56 non-null float64
Dedicated Youth Beds (RRH)                                         56 non-null float64
Dedicated Youth Beds (SH)                                          56 non-null float64
Dedicated Youth Beds (TH)                                          56 non-null float64
ES HMIS Participation Rate                                         378 non-null float64
HMIS Participation Rate (ES,TH)                                    54 non-null float64
HMIS Participation Rate (ES,TH,RRH,SH)                             54 non-null float64
HMIS Participation Rate (ES,TH,SH)                                 270 non-null float64
HMIS Participation Rate for Year-Round Beds (DEM)                  165 non-null object
HMIS Participation Rate for Year-Round Beds (ES)                   221 non-null float64
HMIS Participation Rate for Year-Round Beds (ES, TH, SH)           221 non-null float64
HMIS Participation Rate for Year-Round Beds (OPH)                  221 non-null object
HMIS Participation Rate for Year-Round Beds (PSH)                  221 non-null object
HMIS Participation Rate for Year-Round Beds (RRH & DEM)            165 non-null object
HMIS Participation Rate for Year-Round Beds (RRH)                  221 non-null object
HMIS Participation Rate for Year-Round Beds (SH)                   221 non-null object
HMIS Participation Rate for Year-Round Beds (TH)                   221 non-null object
PSH HMIS Participation Rate                                        378 non-null float64
RRH HMIS Participation Rate                                        54 non-null float64
SH HMIS Participation Rate                                         324 non-null float64
TH HMIS Participation Rate                                         378 non-null float64
Total Beds for Households with Children (DEM)                      165 non-null float64
Total Beds for Households with Children (ES)                       221 non-null float64
Total Beds for Households with Children (ES, TH, SH)               221 non-null float64
Total Beds for Households with Children (ES,TH)                    330 non-null float64
Total Beds for Households with Children (ES,TH,RRH)                55 non-null float64
Total Beds for Households with Children (OPH)                      221 non-null float64
Total Beds for Households with Children (PSH)                      221 non-null float64
Total Beds for Households with Children (RRH & DEM)                165 non-null float64
Total Beds for Households with Children (RRH)                      221 non-null float64
Total Beds for Households with Children (SH)                       221 non-null float64
Total Beds for Households with Children (TH)                       221 non-null float64
Total Beds for Households with only Children (DEM)                 165 non-null float64
Total Beds for Households with only Children (ES)                  221 non-null float64
Total Beds for Households with only Children (ES, TH, SH)          221 non-null float64
Total Beds for Households with only Children (ES,TH,RRH,SH)        55 non-null float64
Total Beds for Households with only Children (ES,TH,SH)            55 non-null float64
Total Beds for Households with only Children (OPH)                 221 non-null float64
Total Beds for Households with only Children (PSH)                 221 non-null float64
Total Beds for Households with only Children (RRH & DEM)           165 non-null float64
Total Beds for Households with only Children (RRH)                 221 non-null float64
Total Beds for Households with only Children (SH)                  221 non-null float64
Total Beds for Households with only Children (TH)                  221 non-null float64
Total Beds for Households without Children (DEM)                   165 non-null float64
Total Beds for Households without Children (ES)                    221 non-null float64
Total Beds for Households without Children (ES, TH, SH)            221 non-null float64
Total Beds for Households without Children (ES,TH)                 55 non-null float64
Total Beds for Households without Children (ES,TH,RRH,SH)          55 non-null float64
Total Beds for Households without Children (ES,TH,SH)              275 non-null float64
Total Beds for Households without Children (OPH)                   221 non-null float64
Total Beds for Households without Children (PSH)                   221 non-null float64
Total Beds for Households without Children (RRH & DEM)             165 non-null float64
Total Beds for Households without Children (RRH)                   221 non-null float64
Total Beds for Households without Children (SH)                    221 non-null float64
Total Beds for Households without Children (TH)                    221 non-null float64
Total Chronic Homeless PSH Beds                                    385 non-null float64
Total ES Beds for Households with Children                         385 non-null float64
Total ES Beds for Households with only Children                    110 non-null float64
Total ES Beds for Households without Children                      385 non-null float64
Total ES Units for Households with Children                        385 non-null float64
Total Emergency Shelter (ES) Beds (excluding seasonal+O/V)         220 non-null float64
Total Emergency Shelter (ES) Beds (excluding seasonal+overflow)    165 non-null float64
Total HMIS Year-Round Beds (DEM)                                   165 non-null float64
Total HMIS Year-Round Beds (ES)                                    221 non-null float64
Total HMIS Year-Round Beds (ES, TH, SH)                            221 non-null float64
Total HMIS Year-Round Beds (ES,TH)                                 55 non-null float64
Total HMIS Year-Round Beds (ES,TH,RRH,SH)                          55 non-null float64
Total HMIS Year-Round Beds (ES,TH,SH)                              275 non-null float64
Total HMIS Year-Round Beds (OPH)                                   221 non-null float64
Total HMIS Year-Round Beds (PSH)                                   221 non-null float64
Total HMIS Year-Round Beds (RRH & DEM)                             165 non-null float64
Total HMIS Year-Round Beds (RRH)                                   221 non-null float64
Total HMIS Year-Round Beds (SH)                                    221 non-null float64
Total HMIS Year-Round Beds (TH)                                    221 non-null float64
Total HMIS Year-Round ES Beds                                      385 non-null float64
Total HMIS Year-Round PSH Beds                                     385 non-null float64
Total HMIS Year-Round RRH Beds                                     55 non-null float64
Total HMIS Year-Round SH Beds                                      330 non-null float64
Total HMIS Year-Round TH Beds                                      385 non-null float64
Total Non-DV Year-Round Beds (DEM)                                 165 non-null float64
Total Non-DV Year-Round Beds (ES)                                  221 non-null float64
Total Non-DV Year-Round Beds (ES, TH, SH)                          221 non-null float64
Total Non-DV Year-Round Beds (ES,TH)                               55 non-null float64
Total Non-DV Year-Round Beds (ES,TH,RRH,SH)                        55 non-null float64
Total Non-DV Year-Round Beds (ES,TH,SH)                            275 non-null float64
Total Non-DV Year-Round Beds (OPH)                                 221 non-null float64
Total Non-DV Year-Round Beds (PSH)                                 221 non-null float64
Total Non-DV Year-Round Beds (RRH & DEM)                           165 non-null float64
Total Non-DV Year-Round Beds (RRH)                                 221 non-null float64
Total Non-DV Year-Round Beds (SH)                                  221 non-null float64
Total Non-DV Year-Round Beds (TH)                                  221 non-null float64
Total Non-DV Year-Round ES Beds                                    385 non-null float64
Total Non-DV Year-Round PSH Beds                                   385 non-null float64
Total Non-DV Year-Round RRH Beds                                   55 non-null float64
Total Non-DV Year-Round SH Beds                                    330 non-null float64
Total Non-DV Year-Round TH Beds                                    385 non-null float64
Total Overflow Beds (ES)                                           221 non-null float64
Total Overflow ES Beds                                             165 non-null float64
Total Overflow/Voucher ES Beds                                     220 non-null float64
Total PSH Beds                                                     385 non-null float64
Total PSH Beds for Households with Children                        385 non-null float64
Total PSH Beds for Households with only Children                   110 non-null float64
Total PSH Beds for Households without Children                     385 non-null float64
Total PSH Units for Households with Children                       385 non-null float64
Total RRH Beds                                                     55 non-null float64
Total RRH Beds for Households with Children                        55 non-null float64
Total RRH Beds for Households with only Children                   55 non-null float64
Total RRH Beds for Households without Children                     55 non-null float64
Total RRH Units for Households with Children                       55 non-null float64
Total Rapid Rehousing (RRH) Beds                                   55 non-null float64
Total SH Beds                                                      330 non-null float64
Total SH Beds for Households with only Children                    110 non-null float64
Total SH Beds for Households without Children                      330 non-null float64
Total Safe Haven (SH) Beds                                         330 non-null float64
Total Seasonal Beds (ES)                                           221 non-null float64
Total Seasonal ES Beds                                             385 non-null float64
Total TH Beds                                                      385 non-null float64
Total TH Beds for Households with Children                         385 non-null float64
Total TH Beds for Households with only Children                    110 non-null object
Total TH Beds for Households without Children                      385 non-null float64
Total TH Units for Households with Children                        385 non-null float64
Total Transitional Housing (TH) Beds                               385 non-null float64
Total Units for Households with Children (DEM)                     165 non-null float64
Total Units for Households with Children (ES)                      221 non-null float64
Total Units for Households with Children (ES, TH, SH)              221 non-null float64
Total Units for Households with Children (ES,TH)                   330 non-null float64
Total Units for Households with Children (ES,TH,RRH)               55 non-null float64
Total Units for Households with Children (OPH)                     221 non-null float64
Total Units for Households with Children (PSH)                     221 non-null float64
Total Units for Households with Children (RRH & DEM)               165 non-null float64
Total Units for Households with Children (RRH)                     221 non-null float64
Total Units for Households with Children (SH)                      221 non-null float64
Total Units for Households with Children (TH)                      221 non-null float64
Total Year-Round Beds (DEM)                                        165 non-null float64
Total Year-Round Beds (ES)                                         221 non-null float64
Total Year-Round Beds (ES).1                                       221 non-null float64
Total Year-Round Beds (ES, TH, SH)                                 221 non-null float64
Total Year-Round Beds (ES,TH)                                      55 non-null float64
Total Year-Round Beds (ES,TH,RRH,SH)                               55 non-null float64
Total Year-Round Beds (ES,TH,SH)                                   275 non-null float64
Total Year-Round Beds (OPH)                                        221 non-null float64
Total Year-Round Beds (PSH)                                        221 non-null float64
Total Year-Round Beds (RRH & DEM)                                  165 non-null float64
Total Year-Round Beds (RRH)                                        221 non-null float64
Total Year-Round Beds (SH)                                         221 non-null float64
Total Year-Round Beds (SH).1                                       221 non-null float64
Total Year-Round Beds (TH)                                         221 non-null float64
Total Year-Round Beds (TH).1                                       221 non-null float64
Total Year-Round ES Beds                                           385 non-null float64
Total Year-Round PSH Beds                                          385 non-null float64
Total Year-Round RRH Beds                                          55 non-null float64
Total Year-Round SH Beds                                           330 non-null float64
Total Year-Round TH Beds                                           385 non-null float64
Unnamed: 23                                                        0 non-null float64
dtypes: float64(157), object(8)
memory usage: 783.0+ KB

In [10]:
df_hic.head()

            Dedicated Chronically Homeless Beds (PSH)  \
year State
2007 AK                                           NaN
     AL                                           NaN
     AR                                           NaN
     AZ                                           NaN
     CA                                           NaN

            Dedicated Veteran Beds (ES)  Dedicated Veteran Beds (ES, TH, SH)  \
year State
2007 AK                             NaN                                  NaN
     AL                             NaN                                  NaN
     AR                             NaN                                  NaN
     AZ                             NaN                                  NaN
     CA                             NaN                                  NaN

            Dedicated Veteran Beds (OPH)  Dedicated Veteran Beds (PSH)  \
year State
2007 AK                              NaN                           NaN
     AL                              NaN                           NaN
     AR                              NaN                           NaN
     AZ                              NaN                           NaN
     CA                              NaN                           NaN

            Dedicated Veteran Beds (RRH)  Dedicated Veteran Beds (SH)  \
year State
2007 AK                              NaN                          NaN
     AL                              NaN                          NaN
     AR                              NaN                          NaN
     AZ                              NaN                          NaN
     CA                              NaN                          NaN

            Dedicated Veteran Beds (TH)  Dedicated Youth Beds (ES)  \
year State
2007 AK                             NaN                        NaN
     AL                             NaN                        NaN
     AR                             NaN                        NaN
     AZ                             NaN                        NaN
     CA                             NaN                        NaN

            Dedicated Youth Beds (ES, TH, SH)     ...      \
year State                                        ...
2007 AK                                   NaN     ...
     AL                                   NaN     ...
     AR                                   NaN     ...
     AZ                                   NaN     ...
     CA                                   NaN     ...

            Total Year-Round Beds (SH)  Total Year-Round Beds (SH).1  \
year State
2007 AK                            NaN                           NaN
     AL                            NaN                           NaN
     AR                            NaN                           NaN
     AZ                            NaN                           NaN
     CA                            NaN                           NaN

            Total Year-Round Beds (TH)  Total Year-Round Beds (TH).1  \
year State
2007 AK                            NaN                           NaN
     AL                            NaN                           NaN
     AR                            NaN                           NaN
     AZ                            NaN                           NaN
     CA                            NaN                           NaN

            Total Year-Round ES Beds  Total Year-Round PSH Beds  \
year State
2007 AK                       1095.0                      489.0
     AL                       1766.0                     2420.0
     AR                       1483.0                     1538.0
     AZ                       3736.0                     3019.0
     CA                      20181.0                    26787.0

            Total Year-Round RRH Beds  Total Year-Round SH Beds  \
year State
2007 AK                           NaN                       NaN
     AL                           NaN                       NaN
     AR                           NaN                       NaN
     AZ                           NaN                       NaN
     CA                           NaN                       NaN

            Total Year-Round TH Beds Unnamed: 23
year State
2007 AK                        663.0         NaN
     AL                       2607.0         NaN
     AR                       1109.0         NaN
     AZ                       5597.0         NaN
     CA                      30897.0         NaN

[5 rows x 165 columns]

In [11]:
#There are a few columns that are the total or sum of other columns,
#these columns represet duplicate data so we are going to drop them.
columns_to_drop = [ "Dedicated Veteran Beds (ES, TH, SH)",
                    "Dedicated Youth Beds (ES, TH, SH)",
                    "HMIS Participation Rate (ES,TH)",
                    "HMIS Participation Rate (ES,TH,RRH,SH)",
                    "HMIS Participation Rate (ES,TH,SH)",
                    "HMIS Participation Rate for Year-Round Beds (ES, TH, SH)",
                    "HMIS Participation Rate for Year-Round Beds (RRH & DEM)",
                    "Total Beds for Households with Children (ES, TH, SH)",
                    "Total Beds for Households with Children (ES,TH)",
                    "Total Beds for Households with Children (ES,TH,RRH)",
                    "Total Beds for Households with Children (RRH & DEM)",
                    "Total Beds for Households with only Children (ES, TH, SH)",
                    "Total Beds for Households with only Children (ES,TH,RRH,SH)",
                    "Total Beds for Households with only Children (ES,TH,SH)",
                    "Total Beds for Households with only Children (RRH & DEM)",
                    "Total Beds for Households without Children (ES, TH, SH)",
                    "Total Beds for Households without Children (ES,TH)",
                    "Total Beds for Households without Children (ES,TH,RRH,SH)",
                    "Total Beds for Households without Children (ES,TH,SH)",
                    "Total Beds for Households without Children (RRH & DEM)",
                    "Total HMIS Year-Round Beds (ES, TH, SH)",
                    "Total HMIS Year-Round Beds (ES,TH)",
                    "Total HMIS Year-Round Beds (ES,TH,RRH,SH)",
                    "Total HMIS Year-Round Beds (ES,TH,SH)",
                    "Total HMIS Year-Round Beds (RRH & DEM)",
                    "Total Non-DV Year-Round Beds (ES, TH, SH)",
                    "Total Non-DV Year-Round Beds (ES,TH)",
                    "Total Non-DV Year-Round Beds (ES,TH,RRH,SH)",
                    "Total Non-DV Year-Round Beds (ES,TH,SH)",
                    "Total Non-DV Year-Round Beds (RRH & DEM)",
                    "Total Units for Households with Children (ES, TH, SH)",
                    "Total Units for Households with Children (ES,TH)",
                    "Total Units for Households with Children (ES,TH,RRH)",
                    "Total Units for Households with Children (RRH & DEM)",
                    "Total Year-Round Beds (ES, TH, SH)",
                    "Total Year-Round Beds (ES,TH)",
                    "Total Year-Round Beds (ES,TH,RRH,SH)",
                    "Total Year-Round Beds (ES,TH,SH)",
                    "Total Year-Round Beds (RRH & DEM)",
                    "Unnamed: 23"]
df_hic.drop(columns_to_drop, axis=1, inplace=True)

In [12]:
#After dropping the columns that have the duplicate data we will now fill in the NaN values with 0
df_hic.fillna(0.0, inplace=True)
df_hic.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 606 entries, (2007, AK) to (2017, Total)
Data columns (total 125 columns):
Dedicated Chronically Homeless Beds (PSH)                          606 non-null float64
Dedicated Veteran Beds (ES)                                        606 non-null float64
Dedicated Veteran Beds (OPH)                                       606 non-null float64
Dedicated Veteran Beds (PSH)                                       606 non-null float64
Dedicated Veteran Beds (RRH)                                       606 non-null float64
Dedicated Veteran Beds (SH)                                        606 non-null float64
Dedicated Veteran Beds (TH)                                        606 non-null float64
Dedicated Youth Beds (ES)                                          606 non-null float64
Dedicated Youth Beds (OPH)                                         606 non-null float64
Dedicated Youth Beds (PSH)                                         606 non-null float64
Dedicated Youth Beds (RRH)                                         606 non-null float64
Dedicated Youth Beds (SH)                                          606 non-null float64
Dedicated Youth Beds (TH)                                          606 non-null float64
ES HMIS Participation Rate                                         606 non-null float64
HMIS Participation Rate for Year-Round Beds (DEM)                  606 non-null object
HMIS Participation Rate for Year-Round Beds (ES)                   606 non-null float64
HMIS Participation Rate for Year-Round Beds (OPH)                  606 non-null object
HMIS Participation Rate for Year-Round Beds (PSH)                  606 non-null object
HMIS Participation Rate for Year-Round Beds (RRH)                  606 non-null object
HMIS Participation Rate for Year-Round Beds (SH)                   606 non-null object
HMIS Participation Rate for Year-Round Beds (TH)                   606 non-null object
PSH HMIS Participation Rate                                        606 non-null float64
RRH HMIS Participation Rate                                        606 non-null float64
SH HMIS Participation Rate                                         606 non-null float64
TH HMIS Participation Rate                                         606 non-null float64
Total Beds for Households with Children (DEM)                      606 non-null float64
Total Beds for Households with Children (ES)                       606 non-null float64
Total Beds for Households with Children (OPH)                      606 non-null float64
Total Beds for Households with Children (PSH)                      606 non-null float64
Total Beds for Households with Children (RRH)                      606 non-null float64
Total Beds for Households with Children (SH)                       606 non-null float64
Total Beds for Households with Children (TH)                       606 non-null float64
Total Beds for Households with only Children (DEM)                 606 non-null float64
Total Beds for Households with only Children (ES)                  606 non-null float64
Total Beds for Households with only Children (OPH)                 606 non-null float64
Total Beds for Households with only Children (PSH)                 606 non-null float64
Total Beds for Households with only Children (RRH)                 606 non-null float64
Total Beds for Households with only Children (SH)                  606 non-null float64
Total Beds for Households with only Children (TH)                  606 non-null float64
Total Beds for Households without Children (DEM)                   606 non-null float64
Total Beds for Households without Children (ES)                    606 non-null float64
Total Beds for Households without Children (OPH)                   606 non-null float64
Total Beds for Households without Children (PSH)                   606 non-null float64
Total Beds for Households without Children (RRH)                   606 non-null float64
Total Beds for Households without Children (SH)                    606 non-null float64
Total Beds for Households without Children (TH)                    606 non-null float64
Total Chronic Homeless PSH Beds                                    606 non-null float64
Total ES Beds for Households with Children                         606 non-null float64
Total ES Beds for Households with only Children                    606 non-null float64
Total ES Beds for Households without Children                      606 non-null float64
Total ES Units for Households with Children                        606 non-null float64
Total Emergency Shelter (ES) Beds (excluding seasonal+O/V)         606 non-null float64
Total Emergency Shelter (ES) Beds (excluding seasonal+overflow)    606 non-null float64
Total HMIS Year-Round Beds (DEM)                                   606 non-null float64
Total HMIS Year-Round Beds (ES)                                    606 non-null float64
Total HMIS Year-Round Beds (OPH)                                   606 non-null float64
Total HMIS Year-Round Beds (PSH)                                   606 non-null float64
Total HMIS Year-Round Beds (RRH)                                   606 non-null float64
Total HMIS Year-Round Beds (SH)                                    606 non-null float64
Total HMIS Year-Round Beds (TH)                                    606 non-null float64
Total HMIS Year-Round ES Beds                                      606 non-null float64
Total HMIS Year-Round PSH Beds                                     606 non-null float64
Total HMIS Year-Round RRH Beds                                     606 non-null float64
Total HMIS Year-Round SH Beds                                      606 non-null float64
Total HMIS Year-Round TH Beds                                      606 non-null float64
Total Non-DV Year-Round Beds (DEM)                                 606 non-null float64
Total Non-DV Year-Round Beds (ES)                                  606 non-null float64
Total Non-DV Year-Round Beds (OPH)                                 606 non-null float64
Total Non-DV Year-Round Beds (PSH)                                 606 non-null float64
Total Non-DV Year-Round Beds (RRH)                                 606 non-null float64
Total Non-DV Year-Round Beds (SH)                                  606 non-null float64
Total Non-DV Year-Round Beds (TH)                                  606 non-null float64
Total Non-DV Year-Round ES Beds                                    606 non-null float64
Total Non-DV Year-Round PSH Beds                                   606 non-null float64
Total Non-DV Year-Round RRH Beds                                   606 non-null float64
Total Non-DV Year-Round SH Beds                                    606 non-null float64
Total Non-DV Year-Round TH Beds                                    606 non-null float64
Total Overflow Beds (ES)                                           606 non-null float64
Total Overflow ES Beds                                             606 non-null float64
Total Overflow/Voucher ES Beds                                     606 non-null float64
Total PSH Beds                                                     606 non-null float64
Total PSH Beds for Households with Children                        606 non-null float64
Total PSH Beds for Households with only Children                   606 non-null float64
Total PSH Beds for Households without Children                     606 non-null float64
Total PSH Units for Households with Children                       606 non-null float64
Total RRH Beds                                                     606 non-null float64
Total RRH Beds for Households with Children                        606 non-null float64
Total RRH Beds for Households with only Children                   606 non-null float64
Total RRH Beds for Households without Children                     606 non-null float64
Total RRH Units for Households with Children                       606 non-null float64
Total Rapid Rehousing (RRH) Beds                                   606 non-null float64
Total SH Beds                                                      606 non-null float64
Total SH Beds for Households with only Children                    606 non-null float64
Total SH Beds for Households without Children                      606 non-null float64
Total Safe Haven (SH) Beds                                         606 non-null float64
Total Seasonal Beds (ES)                                           606 non-null float64
Total Seasonal ES Beds                                             606 non-null float64
Total TH Beds                                                      606 non-null float64
Total TH Beds for Households with Children                         606 non-null float64
Total TH Beds for Households with only Children                    606 non-null object
Total TH Beds for Households without Children                      606 non-null float64
Total TH Units for Households with Children                        606 non-null float64
Total Transitional Housing (TH) Beds                               606 non-null float64
Total Units for Households with Children (DEM)                     606 non-null float64
Total Units for Households with Children (ES)                      606 non-null float64
Total Units for Households with Children (OPH)                     606 non-null float64
Total Units for Households with Children (PSH)                     606 non-null float64
Total Units for Households with Children (RRH)                     606 non-null float64
Total Units for Households with Children (SH)                      606 non-null float64
Total Units for Households with Children (TH)                      606 non-null float64
Total Year-Round Beds (DEM)                                        606 non-null float64
Total Year-Round Beds (ES)                                         606 non-null float64
Total Year-Round Beds (ES).1                                       606 non-null float64
Total Year-Round Beds (OPH)                                        606 non-null float64
Total Year-Round Beds (PSH)                                        606 non-null float64
Total Year-Round Beds (RRH)                                        606 non-null float64
Total Year-Round Beds (SH)                                         606 non-null float64
Total Year-Round Beds (SH).1                                       606 non-null float64
Total Year-Round Beds (TH)                                         606 non-null float64
Total Year-Round Beds (TH).1                                       606 non-null float64
Total Year-Round ES Beds                                           606 non-null float64
Total Year-Round PSH Beds                                          606 non-null float64
Total Year-Round RRH Beds                                          606 non-null float64
Total Year-Round SH Beds                                           606 non-null float64
Total Year-Round TH Beds                                           606 non-null float64
dtypes: float64(118), object(7)
memory usage: 593.6+ KB

We are done preparing and cleaning the HIC-Counts-by-State DataFrame we will now proceed to do the same with PIT-Counts-by-State.

In [13]:
# Print sheet names
print(pit_state.sheet_names)

['Change', '2017', '2016', '2015', '2014', '2013', '2012', '2011', '2010', '2009', '2008', '2007', 'Revisions']

In [14]:
#Get the Change sheet and create a DF with the state as the index
df_pit_change = pit_state.parse('Change').set_index('state')
df_pit_change.head()

,"Change in Total Homelessness, 2016-2017","Change in Total Homelessness, 2015-2017","Change in Total Homelessness, 2014-2017","Change in Total Homelessness, 2013-2017","Change in Total Homelessness, 2012-2017","Change in Total Homelessness, 2011-2017","Change in Total Homelessness, 2010-2017","Change in Total Homelessness, 2009-2017","Change in Total Homelessness, 2008-2017","Change in Total Homelessness, 2007-2017"
state,,,,,,,,,,
AK,-0.048969,-0.056748,0.0341928,-0.051901,-0.035546,-0.132989,-0.009662,-0.073795,0.120899,0.12363
AL,-0.077353,-0.044584,-0.168384,-0.191086,-0.271837,-0.31756,-0.372643,-0.376151,-0.295898,-0.304292
AR,0.001624,-0.036328,-0.159741,-0.352833,-0.41457,-0.279498,-0.106807,-0.134993,-0.242089,-0.356882
AZ,-0.078294,-0.095897,-0.147499,-0.152907,-0.20837,-0.148229,-0.347458,-0.392229,-0.283552,-0.389116
CA,0.136581,0.160189,0.178373,0.132651,0.11807,0.0731251,0.0874474,0.0857064,-0.016502,-0.033874

In [15]:
df_pit_change.info()

<class 'pandas.core.frame.DataFrame'>
Index: 56 entries, AK to Total
Data columns (total 10 columns):
Change in Total Homelessness, 2016-2017    56 non-null object
Change in Total Homelessness, 2015-2017    56 non-null object
Change in Total Homelessness, 2014-2017    56 non-null object
Change in Total Homelessness, 2013-2017    56 non-null object
Change in Total Homelessness, 2012-2017    56 non-null object
Change in Total Homelessness, 2011-2017    56 non-null object
Change in Total Homelessness, 2010-2017    56 non-null object
Change in Total Homelessness, 2009-2017    56 non-null object
Change in Total Homelessness, 2008-2017    56 non-null object
Change in Total Homelessness, 2007-2017    56 non-null object
dtypes: object(10)
memory usage: 4.8+ KB

In [16]:
first_sheet = pit_state.parse('2017')
first_sheet.head()

,State,Number of CoCs,"Total Homeless, 2017","Sheltered Homeless, 2017","Unsheltered Homeless, 2017","Homeless Individuals, 2017","Sheltered Homeless Individuals, 2017","Unsheltered Homeless Individuals, 2017","Homeless People in Families, 2017","Sheltered Homeless People in Families, 2017",...,"Unsheltered Parenting Youth (Under 25), 2017","Parenting Youth Under 18, 2017","Sheltered Parenting Youth Under 18, 2017","Unsheltered Parenting Youth Under 18, 2017","Parenting Youth Age 18-24, 2017","Sheltered Parenting Youth Age 18-24, 2017","Unsheltered Parenting Youth Age 18-24, 2017","Children of Parenting Youth, 2017","Sheltered Children of Parenting Youth, 2017","Unsheltered Children of Parenting Youth, 2017"
0,AK,2.0,1845.0,1551.0,294.0,1354.0,1060.0,294.0,491.0,491.0,...,0.0,0.0,0.0,0.0,22.0,22.0,0.0,39.0,39.0,0.0
1,AL,8.0,3793.0,2656.0,1137.0,2985.0,1950.0,1035.0,808.0,706.0,...,3.0,6.0,6.0,0.0,23.0,20.0,3.0,39.0,35.0,4.0
2,AR,6.0,2467.0,1273.0,1194.0,2068.0,937.0,1131.0,399.0,336.0,...,0.0,0.0,0.0,0.0,10.0,10.0,0.0,13.0,13.0,0.0
3,AZ,3.0,8947.0,5781.0,3166.0,6488.0,3423.0,3065.0,2459.0,2358.0,...,0.0,0.0,0.0,0.0,81.0,81.0,0.0,112.0,112.0,0.0
4,CA,43.0,134278.0,42636.0,91642.0,112756.0,25022.0,87734.0,21522.0,17614.0,...,234.0,16.0,11.0,5.0,874.0,645.0,229.0,1058.0,782.0,276.0

In [17]:
first_sheet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57 entries, 0 to 56
Data columns (total 44 columns):
State                                                                57 non-null object
Number of CoCs                                                       56 non-null float64
Total Homeless, 2017                                                 56 non-null float64
Sheltered Homeless, 2017                                             56 non-null float64
Unsheltered Homeless, 2017                                           56 non-null float64
Homeless Individuals, 2017                                           56 non-null float64
Sheltered Homeless Individuals, 2017                                 56 non-null float64
Unsheltered Homeless Individuals, 2017                               56 non-null float64
Homeless People in Families, 2017                                    56 non-null float64
Sheltered Homeless People in Families, 2017                          56 non-null float64
Unsheltered Homeless People in Families, 2017                        56 non-null float64
Chronically Homeless, 2017                                           56 non-null float64
Sheltered Chronically Homeless, 2017                                 56 non-null float64
Unsheltered Chronically Homeless, 2017                               56 non-null float64
Chronically Homeless Individuals, 2017                               56 non-null float64
Sheltered Chronically Homeless Individuals, 2017                     56 non-null float64
Unsheltered Chronically Homeless Individuals, 2017                   56 non-null float64
Chronically Homeless People in Families, 2017                        56 non-null float64
Sheltered Chronically Homeless People in Families, 2017              56 non-null float64
Unsheltered Chronically Homeless People in Families, 2017            56 non-null float64
Homeless Veterans, 2017                                              56 non-null float64
Sheltered Homeless Veterans, 2017                                    56 non-null float64
Unsheltered Homeless Veterans, 2017                                  56 non-null float64
Homeless Unaccompanied Youth (Under 25), 2017                        56 non-null float64
Sheltered Homeless Unaccompanied Youth (Under 25), 2017              56 non-null float64
Unsheltered Homeless Unaccompanied Youth (Under 25), 2017            56 non-null float64
Homeless Unaccompanied Children (Under 18), 2017                     56 non-null float64
Sheltered Homeless Unaccompanied Children (Under 18), 2017           56 non-null float64
Unsheltered Homeless Unaccompanied Children (Under 18), 2017         56 non-null float64
Homeless Unaccompanied Young Adults (Age 18-24), 2017                56 non-null float64
Sheltered Homeless Unaccompanied Young Adults (Age 18-24), 2017      56 non-null float64
Unsheltered Homeless Unaccompanied Young Adults (Age 18-24), 2017    56 non-null float64
Parenting Youth (Under 25), 2017                                     56 non-null float64
Sheltered Parenting Youth (Under 25), 2017                           56 non-null float64
Unsheltered Parenting Youth (Under 25), 2017                         56 non-null float64
Parenting Youth Under 18, 2017                                       56 non-null float64
Sheltered Parenting Youth Under 18, 2017                             56 non-null float64
Unsheltered Parenting Youth Under 18, 2017                           56 non-null float64
Parenting Youth Age 18-24, 2017                                      56 non-null float64
Sheltered Parenting Youth Age 18-24, 2017                            56 non-null float64
Unsheltered Parenting Youth Age 18-24, 2017                          56 non-null float64
Children of Parenting Youth, 2017                                    56 non-null float64
Sheltered Children of Parenting Youth, 2017                          56 non-null float64
Unsheltered Children of Parenting Youth, 2017                        56 non-null float64
dtypes: float64(43), object(1)
memory usage: 19.7+ KB

In [18]:
last_sheet = pit_state.parse('2007')
last_sheet.head()

,State,Number of CoCs,"Total Homeless, 2007","Sheltered Homeless, 2007","Unsheltered Homeless, 2007","Homeless Individuals, 2007","Sheltered Homeless Individuals, 2007","Unsheltered Homeless Individuals, 2007","Homeless People in Families, 2007","Sheltered Homeless People in Families, 2007","Unsheltered Homeless People in Families, 2007","Chronically Homeless Individuals, 2007","Sheltered Chronically Homeless Individuals, 2007","Unsheltered Chronically Homeless Individuals, 2007","Homeless Veterans, 2007","Sheltered Homeless Veterans, 2007","Unsheltered Homeless Veterans, 2007"
0,AK,2,1642,1387,255,1062,891,171,580,496,84,278,221,57,203,152,51
1,AL,8,5452,3796,1656,4184,2823,1361,1268,973,295,993,483,510,974,745,229
2,AR,9,3836,2285,1551,2987,1766,1221,849,519,330,852,409,443,287,255,32
3,AZ,3,14646,8618,6028,10020,4423,5597,4626,4195,431,2804,650,2154,869,858,11
4,CA,42,138986,48511,90475,110952,30497,80455,28034,18014,10020,40341,5950,34391,16701,5827,10874

In [19]:
last_sheet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 17 columns):
State                                                 56 non-null object
Number of CoCs                                        56 non-null int64
Total Homeless, 2007                                  56 non-null object
Sheltered Homeless, 2007                              56 non-null object
Unsheltered Homeless, 2007                            56 non-null object
Homeless Individuals, 2007                            56 non-null object
Sheltered Homeless Individuals, 2007                  56 non-null object
Unsheltered Homeless Individuals, 2007                56 non-null object
Homeless People in Families, 2007                     56 non-null object
Sheltered Homeless People in Families, 2007           56 non-null object
Unsheltered Homeless People in Families, 2007         56 non-null object
Chronically Homeless Individuals, 2007                56 non-null object
Sheltered Chronically Homeless Individuals, 2007      56 non-null object
Unsheltered Chronically Homeless Individuals, 2007    56 non-null object
Homeless Veterans, 2007                               56 non-null object
Sheltered Homeless Veterans, 2007                     56 non-null object
Unsheltered Homeless Veterans, 2007                   56 non-null object
dtypes: int64(1), object(16)
memory usage: 7.5+ KB

The sheets having the year in the column name presents a problem when joining as it it will add them asd a seperate column. We will need to get rid of the year before we concat the columns. The change sheet will be helpful when we do EDA later on.

In [20]:
#grab the 2007 sheet to initialize the DF before merging the rest
df_pit = pit_state.parse('2007')
df_pit['year'] = str(2007)
df_pit.set_index(['year','State'], inplace=True)

#rename columns to eliminate the year
cols_to_use = []
for column in df_pit.columns:
    if column.__contains__(','):
        cols_to_use.append(column.split(',')[0])
    else:
        cols_to_use.append(column)
        
df_pit.columns = cols_to_use

In [21]:
#concat the rest of the sheets to the original df
for sheet in range(2008, 2018):
    excel_sheet = pit_state.parse(str(sheet))
    excel_sheet['year'] = str(sheet)
    excel_sheet.set_index(['year','State'], inplace=True)
    #rename the columns
    cols_to_use = []
    for column in excel_sheet.columns:
        if column.__contains__(','):
            cols_to_use.append(column.split(',')[0])
        else:
            cols_to_use.append(column)
    excel_sheet.columns = cols_to_use
    df_pit = pd.concat([df_pit, excel_sheet], axis=0, ignore_index=False, sort=True)

In [22]:
df_pit.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 619 entries, (2007, AK) to (2017, Note: The number of CoCs in 2017 was 399. However, MO-604 merged in 2016 and covers territory in both MO and KS, contributing to the PIT count in both states. )
Data columns (total 43 columns):
Children of Parenting Youth                                    168 non-null object
Chronically Homeless                                           392 non-null object
Chronically Homeless Individuals                               616 non-null object
Chronically Homeless People in Families                        392 non-null object
Homeless Individuals                                           616 non-null object
Homeless People in Families                                    616 non-null object
Homeless Unaccompanied Children (Under 18)                     168 non-null object
Homeless Unaccompanied Young Adults (Age 18-24)                168 non-null object
Homeless Unaccompanied Youth (Under 25)                        168 non-null object
Homeless Veterans                                              616 non-null object
Number of CoCs                                                 616 non-null float64
Parenting Youth (Under 25)                                     168 non-null object
Parenting Youth Age 18-24                                      168 non-null object
Parenting Youth Under 18                                       168 non-null object
Sheltered Children of Parenting Youth                          168 non-null object
Sheltered Chronically Homeless                                 392 non-null object
Sheltered Chronically Homeless Individuals                     616 non-null object
Sheltered Chronically Homeless People in Families              392 non-null object
Sheltered Homeless                                             616 non-null object
Sheltered Homeless Individuals                                 616 non-null object
Sheltered Homeless People in Families                          616 non-null object
Sheltered Homeless Unaccompanied Children (Under 18)           168 non-null object
Sheltered Homeless Unaccompanied Young Adults (Age 18-24)      168 non-null object
Sheltered Homeless Unaccompanied Youth (Under 25)              168 non-null object
Sheltered Homeless Veterans                                    616 non-null object
Sheltered Parenting Youth (Under 25)                           168 non-null object
Sheltered Parenting Youth Age 18-24                            168 non-null object
Sheltered Parenting Youth Under 18                             168 non-null object
Total Homeless                                                 616 non-null object
Unsheltered Children of Parenting Youth                        168 non-null object
Unsheltered Chronically Homeless                               392 non-null object
Unsheltered Chronically Homeless Individuals                   616 non-null object
Unsheltered Chronically Homeless People in Families            392 non-null object
Unsheltered Homeless                                           616 non-null object
Unsheltered Homeless Individuals                               616 non-null object
Unsheltered Homeless People in Families                        616 non-null object
Unsheltered Homeless Unaccompanied Children (Under 18)         168 non-null object
Unsheltered Homeless Unaccompanied Young Adults (Age 18-24)    168 non-null object
Unsheltered Homeless Unaccompanied Youth (Under 25)            168 non-null object
Unsheltered Homeless Veterans                                  616 non-null object
Unsheltered Parenting Youth (Under 25)                         168 non-null object
Unsheltered Parenting Youth Age 18-24                          168 non-null object
Unsheltered Parenting Youth Under 18                           168 non-null object
dtypes: float64(1), object(42)
memory usage: 209.8+ KB

In [23]:
#We noticed the DF has a strange index, so we check the tail of the DF
df_pit.tail()

                                                        Children of Parenting Youth  \
year State
2017 WI                                                                         190
     WV                                                                          13
     WY                                                                          11
     Total                                                                    12152
     Note: The number of CoCs in 2017 was 399. Howev...                         NaN

                                                        Chronically Homeless  \
year State
2017 WI                                                                  434
     WV                                                                  206
     WY                                                                   68
     Total                                                             95419
     Note: The number of CoCs in 2017 was 399. Howev...                  NaN

                                                        Chronically Homeless Individuals  \
year State
2017 WI                                                                              342
     WV                                                                              188
     WY                                                                               14
     Total                                                                         86962
     Note: The number of CoCs in 2017 was 399. Howev...                              NaN

                                                        Chronically Homeless People in Families  \
year State
2017 WI                                                                                      92
     WV                                                                                      18
     WY                                                                                      54
     Total                                                                                 8457
     Note: The number of CoCs in 2017 was 399. Howev...                                     NaN

                                                        Homeless Individuals  \
year State
2017 WI                                                                 2645
     WV                                                                 1032
     WY                                                                  622
     Total                                                            369081
     Note: The number of CoCs in 2017 was 399. Howev...                  NaN

                                                        Homeless People in Families  \
year State
2017 WI                                                                        2382
     WV                                                                         277
     WY                                                                         251
     Total                                                                   184661
     Note: The number of CoCs in 2017 was 399. Howev...                         NaN

                                                        Homeless Unaccompanied Children (Under 18)  \
year State
2017 WI                                                                                         28
     WV                                                                                          7
     WY                                                                                         19
     Total                                                                                    4789
     Note: The number of CoCs in 2017 was 399. Howev...                                        NaN

                                                        Homeless Unaccompanied Young Adults (Age 18-24)  \
year State
2017 WI                                                                                             248
     WV                                                                                              72
     WY                                                                                              43
     Total                                                                                        36010
     Note: The number of CoCs in 2017 was 399. Howev...                                             NaN

                                                        Homeless Unaccompanied Youth (Under 25)  \
year State
2017 WI                                                                                     276
     WV                                                                                      79
     WY                                                                                      62
     Total                                                                                40799
     Note: The number of CoCs in 2017 was 399. Howev...                                     NaN

                                                        Homeless Veterans  \
year State
2017 WI                                                               329
     WV                                                               137
     WY                                                                63
     Total                                                          40056
     Note: The number of CoCs in 2017 was 399. Howev...               NaN

                                                                        ...                   \
year State                                                              ...
2017 WI                                                                 ...
     WV                                                                 ...
     WY                                                                 ...
     Total                                                              ...
     Note: The number of CoCs in 2017 was 399. Howev...                 ...

                                                         Unsheltered Homeless  \
year State
2017 WI                                                                   340
     WV                                                                   188
     WY                                                                   363
     Total                                                             192875
     Note: The number of CoCs in 2017 was 399. Howev...                   NaN

                                                        Unsheltered Homeless Individuals  \
year State
2017 WI                                                                              328
     WV                                                                              172
     WY                                                                              239
     Total                                                                        175937
     Note: The number of CoCs in 2017 was 399. Howev...                              NaN

                                                        Unsheltered Homeless People in Families  \
year State
2017 WI                                                                                      12
     WV                                                                                      16
     WY                                                                                     124
     Total                                                                                16938
     Note: The number of CoCs in 2017 was 399. Howev...                                     NaN

                                                        Unsheltered Homeless Unaccompanied Children (Under 18)  \
year State
2017 WI                                                                                                  3
     WV                                                                                                  0
     WY                                                                                                 13
     Total                                                                                            2667
     Note: The number of CoCs in 2017 was 399. Howev...                                                NaN

                                                        Unsheltered Homeless Unaccompanied Young Adults (Age 18-24)  \
year State
2017 WI                                                                                                 33
     WV                                                                                                 10
     WY                                                                                                  6
     Total                                                                                           19590
     Note: The number of CoCs in 2017 was 399. Howev...                                                NaN

                                                        Unsheltered Homeless Unaccompanied Youth (Under 25)  \
year State
2017 WI                                                                                                 36
     WV                                                                                                 10
     WY                                                                                                 19
     Total                                                                                           22257
     Note: The number of CoCs in 2017 was 399. Howev...                                                NaN

                                                        Unsheltered Homeless Veterans  \
year State
2017 WI                                                                            20
     WV                                                                            13
     WY                                                                            13
     Total                                                                      15366
     Note: The number of CoCs in 2017 was 399. Howev...                           NaN

                                                        Unsheltered Parenting Youth (Under 25)  \
year State
2017 WI                                                                                      3
     WV                                                                                      0
     WY                                                                                      3
     Total                                                                                 577
     Note: The number of CoCs in 2017 was 399. Howev...                                    NaN

                                                        Unsheltered Parenting Youth Age 18-24  \
year State
2017 WI                                                                                     3
     WV                                                                                     0
     WY                                                                                     3
     Total                                                                                564
     Note: The number of CoCs in 2017 was 399. Howev...                                   NaN

                                                        Unsheltered Parenting Youth Under 18
year State
2017 WI                                                                                    0
     WV                                                                                    0
     WY                                                                                    0
     Total                                                                                13
     Note: The number of CoCs in 2017 was 399. Howev...                                  NaN

[5 rows x 43 columns]

In [24]:
#Indeed the DF has a strange index so we must eliminate them. But first we must find all the "Note" indexes
df_pit.index.values

array([('2007', 'AK'), ('2007', 'AL'), ('2007', 'AR'), ('2007', 'AZ'),
       ('2007', 'CA'), ('2007', 'CO'), ('2007', 'CT'), ('2007', 'DC'),
       ('2007', 'DE'), ('2007', 'FL'), ('2007', 'GA'), ('2007', 'GU'),
       ('2007', 'HI'), ('2007', 'IA'), ('2007', 'ID'), ('2007', 'IL'),
       ('2007', 'IN'), ('2007', 'KS'), ('2007', 'KY'), ('2007', 'LA'),
       ('2007', 'MA'), ('2007', 'MD'), ('2007', 'ME'), ('2007', 'MI'),
       ('2007', 'MN'), ('2007', 'MO'), ('2007', 'MP'), ('2007', 'MS'),
       ('2007', 'MT'), ('2007', 'NC'), ('2007', 'ND'), ('2007', 'NE'),
       ('2007', 'NH'), ('2007', 'NJ'), ('2007', 'NM'), ('2007', 'NV'),
       ('2007', 'NY'), ('2007', 'OH'), ('2007', 'OK'), ('2007', 'OR'),
       ('2007', 'PA'), ('2007', 'PR'), ('2007', 'RI'), ('2007', 'SC'),
       ('2007', 'SD'), ('2007', 'TN'), ('2007', 'TX'), ('2007', 'UT'),
       ('2007', 'VA'), ('2007', 'VI'), ('2007', 'VT'), ('2007', 'WA'),
       ('2007', 'WI'), ('2007', 'WV'), ('2007', 'WY'), ('2007', 'Total'),
       ('2008', 'AK'), ('2008', 'AL'), ('2008', 'AR'), ('2008', 'AZ'),
       ('2008', 'CA'), ('2008', 'CO'), ('2008', 'CT'), ('2008', 'DC'),
       ('2008', 'DE'), ('2008', 'FL'), ('2008', 'GA'), ('2008', 'GU'),
       ('2008', 'HI'), ('2008', 'IA'), ('2008', 'ID'), ('2008', 'IL'),
       ('2008', 'IN'), ('2008', 'KS'), ('2008', 'KY'), ('2008', 'LA'),
       ('2008', 'MA'), ('2008', 'MD'), ('2008', 'ME'), ('2008', 'MI'),
       ('2008', 'MN'), ('2008', 'MO'), ('2008', 'MP'), ('2008', 'MS'),
       ('2008', 'MT'), ('2008', 'NC'), ('2008', 'ND'), ('2008', 'NE'),
       ('2008', 'NH'), ('2008', 'NJ'), ('2008', 'NM'), ('2008', 'NV'),
       ('2008', 'NY'), ('2008', 'OH'), ('2008', 'OK'), ('2008', 'OR'),
       ('2008', 'PA'), ('2008', 'PR'), ('2008', 'RI'), ('2008', 'SC'),
       ('2008', 'SD'), ('2008', 'TN'), ('2008', 'TX'), ('2008', 'UT'),
       ('2008', 'VA'), ('2008', 'VI'), ('2008', 'VT'), ('2008', 'WA'),
       ('2008', 'WI'), ('2008', 'WV'), ('2008', 'WY'), ('2008', 'Total'),
       ('2009', 'AK'), ('2009', 'AL'), ('2009', 'AR'), ('2009', 'AZ'),
       ('2009', 'CA'), ('2009', 'CO'), ('2009', 'CT'), ('2009', 'DC'),
       ('2009', 'DE'), ('2009', 'FL'), ('2009', 'GA'), ('2009', 'GU'),
       ('2009', 'HI'), ('2009', 'IA'), ('2009', 'ID'), ('2009', 'IL'),
       ('2009', 'IN'), ('2009', 'KS'), ('2009', 'KY'), ('2009', 'LA'),
       ('2009', 'MA'), ('2009', 'MD'), ('2009', 'ME'), ('2009', 'MI'),
       ('2009', 'MN'), ('2009', 'MO'), ('2009', 'MP'), ('2009', 'MS'),
       ('2009', 'MT'), ('2009', 'NC'), ('2009', 'ND'), ('2009', 'NE'),
       ('2009', 'NH'), ('2009', 'NJ'), ('2009', 'NM'), ('2009', 'NV'),
       ('2009', 'NY'), ('2009', 'OH'), ('2009', 'OK'), ('2009', 'OR'),
       ('2009', 'PA'), ('2009', 'PR'), ('2009', 'RI'), ('2009', 'SC'),
       ('2009', 'SD'), ('2009', 'TN'), ('2009', 'TX'), ('2009', 'UT'),
       ('2009', 'VA'), ('2009', 'VI'), ('2009', 'VT'), ('2009', 'WA'),
       ('2009', 'WI'), ('2009', 'WV'), ('2009', 'WY'), ('2009', 'Total'),
       ('2010', 'AK'), ('2010', 'AL'), ('2010', 'AR'), ('2010', 'AZ'),
       ('2010', 'CA'), ('2010', 'CO'), ('2010', 'CT'), ('2010', 'DC'),
       ('2010', 'DE'), ('2010', 'FL'), ('2010', 'GA'), ('2010', 'GU'),
       ('2010', 'HI'), ('2010', 'IA'), ('2010', 'ID'), ('2010', 'IL'),
       ('2010', 'IN'), ('2010', 'KS'), ('2010', 'KY'), ('2010', 'LA'),
       ('2010', 'MA'), ('2010', 'MD'), ('2010', 'ME'), ('2010', 'MI'),
       ('2010', 'MN'), ('2010', 'MO'), ('2010', 'MP'), ('2010', 'MS'),
       ('2010', 'MT'), ('2010', 'NC'), ('2010', 'ND'), ('2010', 'NE'),
       ('2010', 'NH'), ('2010', 'NJ'), ('2010', 'NM'), ('2010', 'NV'),
       ('2010', 'NY'), ('2010', 'OH'), ('2010', 'OK'), ('2010', 'OR'),
       ('2010', 'PA'), ('2010', 'PR'), ('2010', 'RI'), ('2010', 'SC'),
       ('2010', 'SD'), ('2010', 'TN'), ('2010', 'TX'), ('2010', 'UT'),
       ('2010', 'VA'), ('2010', 'VI'), ('2010', 'VT'), ('2010', 'WA'),
       ('2010', 'WI'), ('2010', 'WV'), ('2010', 'WY'), ('2010', 'Total'),
       ('2011', 'AK'), ('2011', 'AL'), ('2011', 'AR'), ('2011', 'AZ'),
       ('2011', 'CA'), ('2011', 'CO'), ('2011', 'CT'), ('2011', 'DC'),
       ('2011', 'DE'), ('2011', 'FL'), ('2011', 'GA'), ('2011', 'GU'),
       ('2011', 'HI'), ('2011', 'IA'), ('2011', 'ID'), ('2011', 'IL'),
       ('2011', 'IN'), ('2011', 'KS'), ('2011', 'KY'), ('2011', 'LA'),
       ('2011', 'MA'), ('2011', 'MD'), ('2011', 'ME'), ('2011', 'MI'),
       ('2011', 'MN'), ('2011', 'MO'), ('2011', 'MP'), ('2011', 'MS'),
       ('2011', 'MT'), ('2011', 'NC'), ('2011', 'ND'), ('2011', 'NE'),
       ('2011', 'NH'), ('2011', 'NJ'), ('2011', 'NM'), ('2011', 'NV'),
       ('2011', 'NY'), ('2011', 'OH'), ('2011', 'OK'), ('2011', 'OR'),
       ('2011', 'PA'), ('2011', 'PR'), ('2011', 'RI'), ('2011', 'SC'),
       ('2011', 'SD'), ('2011', 'TN'), ('2011', 'TX'), ('2011', 'UT'),
       ('2011', 'VA'), ('2011', 'VI'), ('2011', 'VT'), ('2011', 'WA'),
       ('2011', 'WI'), ('2011', 'WV'), ('2011', 'WY'), ('2011', 'Total'),
       ('2012', 'AK'), ('2012', 'AL'), ('2012', 'AR'), ('2012', 'AZ'),
       ('2012', 'CA'), ('2012', 'CO'), ('2012', 'CT'), ('2012', 'DC'),
       ('2012', 'DE'), ('2012', 'FL'), ('2012', 'GA'), ('2012', 'GU'),
       ('2012', 'HI'), ('2012', 'IA'), ('2012', 'ID'), ('2012', 'IL'),
       ('2012', 'IN'), ('2012', 'KS'), ('2012', 'KY'), ('2012', 'LA'),
       ('2012', 'MA'), ('2012', 'MD'), ('2012', 'ME'), ('2012', 'MI'),
       ('2012', 'MN'), ('2012', 'MO'), ('2012', 'MP'), ('2012', 'MS'),
       ('2012', 'MT'), ('2012', 'NC'), ('2012', 'ND'), ('2012', 'NE'),
       ('2012', 'NH'), ('2012', 'NJ'), ('2012', 'NM'), ('2012', 'NV'),
       ('2012', 'NY'), ('2012', 'OH'), ('2012', 'OK'), ('2012', 'OR'),
       ('2012', 'PA'), ('2012', 'PR'), ('2012', 'RI'), ('2012', 'SC'),
       ('2012', 'SD'), ('2012', 'TN'), ('2012', 'TX'), ('2012', 'UT'),
       ('2012', 'VA'), ('2012', 'VI'), ('2012', 'VT'), ('2012', 'WA'),
       ('2012', 'WI'), ('2012', 'WV'), ('2012', 'WY'), ('2012', 'Total'),
       ('2013', 'AK'), ('2013', 'AL'), ('2013', 'AR'), ('2013', 'AZ'),
       ('2013', 'CA'), ('2013', 'CO'), ('2013', 'CT'), ('2013', 'DC'),
       ('2013', 'DE'), ('2013', 'FL'), ('2013', 'GA'), ('2013', 'GU'),
       ('2013', 'HI'), ('2013', 'IA'), ('2013', 'ID'), ('2013', 'IL'),
       ('2013', 'IN'), ('2013', 'KS'), ('2013', 'KY'), ('2013', 'LA'),
       ('2013', 'MA'), ('2013', 'MD'), ('2013', 'ME'), ('2013', 'MI'),
       ('2013', 'MN'), ('2013', 'MO'), ('2013', 'MP'), ('2013', 'MS'),
       ('2013', 'MT'), ('2013', 'NC'), ('2013', 'ND'), ('2013', 'NE'),
       ('2013', 'NH'), ('2013', 'NJ'), ('2013', 'NM'), ('2013', 'NV'),
       ('2013', 'NY'), ('2013', 'OH'), ('2013', 'OK'), ('2013', 'OR'),
       ('2013', 'PA'), ('2013', 'PR'), ('2013', 'RI'), ('2013', 'SC'),
       ('2013', 'SD'), ('2013', 'TN'), ('2013', 'TX'), ('2013', 'UT'),
       ('2013', 'VA'), ('2013', 'VI'), ('2013', 'VT'), ('2013', 'WA'),
       ('2013', 'WI'), ('2013', 'WV'), ('2013', 'WY'), ('2013', 'Total'),
       ('2014', 'AK'), ('2014', 'AL'), ('2014', 'AR'), ('2014', 'AZ'),
       ('2014', 'CA'), ('2014', 'CO'), ('2014', 'CT'), ('2014', 'DC'),
       ('2014', 'DE'), ('2014', 'FL'), ('2014', 'GA'), ('2014', 'GU'),
       ('2014', 'HI'), ('2014', 'IA'), ('2014', 'ID'), ('2014', 'IL'),
       ('2014', 'IN'), ('2014', 'KS*'), ('2014', 'KY'), ('2014', 'LA'),
       ('2014', 'MA'), ('2014', 'MD'), ('2014', 'ME'), ('2014', 'MI'),
       ('2014', 'MN'), ('2014', 'MO'), ('2014', 'MP'), ('2014', 'MS'),
       ('2014', 'MT'), ('2014', 'NC'), ('2014', 'ND'), ('2014', 'NE'),
       ('2014', 'NH'), ('2014', 'NJ'), ('2014', 'NM'), ('2014', 'NV'),
       ('2014', 'NY'), ('2014', 'OH'), ('2014', 'OK'), ('2014', 'OR'),
       ('2014', 'PA'), ('2014', 'PR'), ('2014', 'RI'), ('2014', 'SC'),
       ('2014', 'SD'), ('2014', 'TN'), ('2014', 'TX'), ('2014', 'UT'),
       ('2014', 'VA'), ('2014', 'VI'), ('2014', 'VT'), ('2014', 'WA'),
       ('2014', 'WI'), ('2014', 'WV'), ('2014', 'WY'), ('2014', 'Total'),
       ('2014', ' '), ('2015', 'AK'), ('2015', 'AL'), ('2015', 'AR'),
       ('2015', 'AZ'), ('2015', 'CA'), ('2015', 'CO'), ('2015', 'CT'),
       ('2015', 'DC'), ('2015', 'DE'), ('2015', 'FL'), ('2015', 'GA'),
       ('2015', 'GU'), ('2015', 'HI'), ('2015', 'IA'), ('2015', 'ID'),
       ('2015', 'IL'), ('2015', 'IN'), ('2015', 'KS'), ('2015', 'KY'),
       ('2015', 'LA'), ('2015', 'MA'), ('2015', 'MD'), ('2015', 'ME'),
       ('2015', 'MI'), ('2015', 'MN'), ('2015', 'MO'), ('2015', 'MP'),
       ('2015', 'MS'), ('2015', 'MT'), ('2015', 'NC'), ('2015', 'ND'),
       ('2015', 'NE'), ('2015', 'NH'), ('2015', 'NJ'), ('2015', 'NM'),
       ('2015', 'NV'), ('2015', 'NY'), ('2015', 'OH'), ('2015', 'OK'),
       ('2015', 'OR'), ('2015', 'PA'), ('2015', 'PR'), ('2015', 'RI'),
       ('2015', 'SC'), ('2015', 'SD'), ('2015', 'TN'), ('2015', 'TX'),
       ('2015', 'UT'), ('2015', 'VA'), ('2015', 'VI'), ('2015', 'VT'),
       ('2015', 'WA'), ('2015', 'WI'), ('2015', 'WV'), ('2015', 'WY'),
       ('2015', 'Total'), ('2016', 'AK'), ('2016', 'AL'), ('2016', 'AR'),
       ('2016', 'AZ'), ('2016', 'CA'), ('2016', 'CO'), ('2016', 'CT'),
       ('2016', 'DC'), ('2016', 'DE'), ('2016', 'FL'), ('2016', 'GA'),
       ('2016', 'GU'), ('2016', 'HI'), ('2016', 'IA'), ('2016', 'ID'),
       ('2016', 'IL'), ('2016', 'IN'), ('2016', 'KS'), ('2016', 'KY'),
       ('2016', 'LA'), ('2016', 'MA'), ('2016', 'MD'), ('2016', 'ME'),
       ('2016', 'MI'), ('2016', 'MN'), ('2016', 'MO'), ('2016', 'MP'),
       ('2016', 'MS'), ('2016', 'MT'), ('2016', 'NC'), ('2016', 'ND'),
       ('2016', 'NE'), ('2016', 'NH'), ('2016', 'NJ'), ('2016', 'NM'),
       ('2016', 'NV'), ('2016', 'NY'), ('2016', 'OH'), ('2016', 'OK'),
       ('2016', 'OR'), ('2016', 'PA'), ('2016', 'PR'), ('2016', 'RI'),
       ('2016', 'SC'), ('2016', 'SD'), ('2016', 'TN'), ('2016', 'TX'),
       ('2016', 'UT'), ('2016', 'VA'), ('2016', 'VI'), ('2016', 'VT'),
       ('2016', 'WA'), ('2016', 'WI'), ('2016', 'WV'), ('2016', 'WY'),
       ('2016', 'Total'),
       ('2016', 'Note: The number of CoCs in 2016 was 402. However, MO-604 merged in 2016 and covers territory in both MO and KS, contributing to the PIT count in both states. '),
       ('2017', 'AK'), ('2017', 'AL'), ('2017', 'AR'), ('2017', 'AZ'),
       ('2017', 'CA'), ('2017', 'CO'), ('2017', 'CT'), ('2017', 'DC'),
       ('2017', 'DE'), ('2017', 'FL'), ('2017', 'GA'), ('2017', 'GU'),
       ('2017', 'HI'), ('2017', 'IA'), ('2017', 'ID'), ('2017', 'IL'),
       ('2017', 'IN'), ('2017', 'KS'), ('2017', 'KY'), ('2017', 'LA'),
       ('2017', 'MA'), ('2017', 'MD'), ('2017', 'ME'), ('2017', 'MI'),
       ('2017', 'MN'), ('2017', 'MO'), ('2017', 'MP'), ('2017', 'MS'),
       ('2017', 'MT'), ('2017', 'NC'), ('2017', 'ND'), ('2017', 'NE'),
       ('2017', 'NH'), ('2017', 'NJ'), ('2017', 'NM'), ('2017', 'NV'),
       ('2017', 'NY'), ('2017', 'OH'), ('2017', 'OK'), ('2017', 'OR'),
       ('2017', 'PA'), ('2017', 'PR'), ('2017', 'RI'), ('2017', 'SC'),
       ('2017', 'SD'), ('2017', 'TN'), ('2017', 'TX'), ('2017', 'UT'),
       ('2017', 'VA'), ('2017', 'VI'), ('2017', 'VT'), ('2017', 'WA'),
       ('2017', 'WI'), ('2017', 'WV'), ('2017', 'WY'), ('2017', 'Total'),
       ('2017', 'Note: The number of CoCs in 2017 was 399. However, MO-604 merged in 2016 and covers territory in both MO and KS, contributing to the PIT count in both states. ')],
      dtype=object)

In [25]:
#There are only two with the note. So we just drop them directly. 
df_pit.drop(level=1, inplace=True, index='Note: The number of CoCs in 2016 was 402. However, MO-604 merged in 2016 and covers territory in both MO and KS, contributing to the PIT count in both states. ')
df_pit.drop(level=1, inplace=True, index='Note: The number of CoCs in 2017 was 399. However, MO-604 merged in 2016 and covers territory in both MO and KS, contributing to the PIT count in both states. ')

In [26]:
#Now we can fill in our null values with 0
df_pit.fillna(0, inplace=True)
df_pit.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 617 entries, (2007, AK) to (2017, Total)
Data columns (total 43 columns):
Children of Parenting Youth                                    617 non-null object
Chronically Homeless                                           617 non-null object
Chronically Homeless Individuals                               617 non-null object
Chronically Homeless People in Families                        617 non-null object
Homeless Individuals                                           617 non-null object
Homeless People in Families                                    617 non-null object
Homeless Unaccompanied Children (Under 18)                     617 non-null object
Homeless Unaccompanied Young Adults (Age 18-24)                617 non-null object
Homeless Unaccompanied Youth (Under 25)                        617 non-null object
Homeless Veterans                                              617 non-null object
Number of CoCs                                                 617 non-null float64
Parenting Youth (Under 25)                                     617 non-null object
Parenting Youth Age 18-24                                      617 non-null object
Parenting Youth Under 18                                       617 non-null object
Sheltered Children of Parenting Youth                          617 non-null object
Sheltered Chronically Homeless                                 617 non-null object
Sheltered Chronically Homeless Individuals                     617 non-null object
Sheltered Chronically Homeless People in Families              617 non-null object
Sheltered Homeless                                             617 non-null object
Sheltered Homeless Individuals                                 617 non-null object
Sheltered Homeless People in Families                          617 non-null object
Sheltered Homeless Unaccompanied Children (Under 18)           617 non-null object
Sheltered Homeless Unaccompanied Young Adults (Age 18-24)      617 non-null object
Sheltered Homeless Unaccompanied Youth (Under 25)              617 non-null object
Sheltered Homeless Veterans                                    617 non-null object
Sheltered Parenting Youth (Under 25)                           617 non-null object
Sheltered Parenting Youth Age 18-24                            617 non-null object
Sheltered Parenting Youth Under 18                             617 non-null object
Total Homeless                                                 617 non-null object
Unsheltered Children of Parenting Youth                        617 non-null object
Unsheltered Chronically Homeless                               617 non-null object
Unsheltered Chronically Homeless Individuals                   617 non-null object
Unsheltered Chronically Homeless People in Families            617 non-null object
Unsheltered Homeless                                           617 non-null object
Unsheltered Homeless Individuals                               617 non-null object
Unsheltered Homeless People in Families                        617 non-null object
Unsheltered Homeless Unaccompanied Children (Under 18)         617 non-null object
Unsheltered Homeless Unaccompanied Young Adults (Age 18-24)    617 non-null object
Unsheltered Homeless Unaccompanied Youth (Under 25)            617 non-null object
Unsheltered Homeless Veterans                                  617 non-null object
Unsheltered Parenting Youth (Under 25)                         617 non-null object
Unsheltered Parenting Youth Age 18-24                          617 non-null object
Unsheltered Parenting Youth Under 18                           617 non-null object
dtypes: float64(1), object(42)
memory usage: 209.1+ KB

#### Conlusion

We have have finished cleaning both our data sets and end up with 3 DataFrames:

 - df_hic
 - df_pit
 - df_pit_change

We can keep them seperate or we could concat them it would depend on what we are examining and what we need to do.